<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<h4 class="page-title">Customer Management</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 block p-t-20 p-l-20 p-r-20 m-t-20 m-b-0">
				<div class="col-sm-3 col-sm-push-7 text-right"><label>Show Customer:</label></div>
				<div class="col-sm-2 col-sm-push-7">
					<select class="form-control">
						<option>All</option>
						<option>Regular</option>
						<option>Wholesell</option>
						<option>Dropship</option>
					</select>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 block p-20">
				<div class="card-box">
					<div id="jqxWidget">
						<div id="jqxgrid"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
	var url = "assets/xml/abandonedcart.xml";
	$.jqx.theme = "custom";
	// prepare the data
	var source = {
		datatype: "xml",
		datafields: [ {
			name: 'ScheduledAt',
			type: 'String'
		}, {
			name: 'FollowUp',
			type: 'string'
		}, {
			name: 'Name',
			type: 'string'
		}, {
			name: 'Status',
			type: 'string'
		}, {
			name: 'Email',
			type: 'string'
		}, {
			name: 'IPAddress',
			type: 'String'
		}, {
			name: 'Discount',
			type: 'String'
		}, {
			name: 'DiscountED',
			type: 'string'
		}, {
			name: 'ViewCart',
			type: 'string'
		}],
		root: "AbandonedcartLists",
		record: "AbandonedcartList",
		id: 'AbandonedcartListID',
		url: url
	};

	var Status = function(rrow, columnfield, value, defaulthtml, columnproperties, rowdata) {
	    if (value == 'Inactive') {
	        return '<div class="text-center action-icons text-danger" style="margin-top:5px; font-size:18px"><i class="fa fa-thumbs-o-down"></i></div>';
	    } else {
	        return '<div class="text-center action-icons text-success" style="margin-top:5px; font-size:18px"><i class="fa fa-thumbs-o-up"></i></div>';
	    }
	}
	
	//Action Link
	var actionlink = function(row, columnfield, value, defaulthtml, columnproperties, rowdata) {
	    return  '<div class="text-center action-icons" style=" margin-top:5px;"><a href="#" class="on-default edit-row text-default">View Cart</a></div>'
	}

	var dataAdapter = new $.jqx.dataAdapter(source, {
		downloadComplete: function(data, status, xhr) {},
		loadComplete: function(data) {},
		loadError: function(xhr, status, error) {}
	});
	
	// initialize jqxGrid
	$("#jqxgrid").jqxGrid(
		//$("#jqxgrid").jqxDataTable(
		{
		width: '100%',
		//height: '100%',
		source: dataAdapter,                
		pageable: true,
		autoheight: true,
		sortable: true,
		altrows: true,
		enabletooltips: false,
		editable: false,
		columnsheight: 70,
		autorowheight: true,
		showfilterrow: true,
		filterable: true,
		selectionmode: 'checkbox',
		columns: [{
			text: 'Scheduled At',
			datafield: 'ScheduledAt',
			width: '15%',
			minwidth: '60',
		},{
			text: 'Follow Up',
			datafield: 'FollowUp',
			editable: false,
			width: '10%',
			minwidth: '80'
		},{
			text: 'Status',
			datafield: 'Status',
			editable: false,
			width: '10%',
			minwidth: '120',
			cellsalign: 'left'
		},{
			text: 'Name',
			datafield: 'Name',
			editable: false,
			width: '12%',
			minwidth: '110',
		},{
			text: 'Email',
			datafield: 'Email',
			width: '15%',
			minwidth: '110',
			editable: false,
			cellsalign: 'left',
		},{
			text: 'IPAddress',
			datafield: 'IPAddress',
			width: '10%',
			minwidth: '110',
			editable: false,
		},{
			text: 'Discount',
			datafield: 'Discount',
			width: '5%',
			minwidth: '110',
			editable: false,
		},{
			text: 'Discount Enable/Disable',
			datafield: 'DiscountED',
			width: '10.9%',
			minwidth: '110',
			editable: false,
			cellsrenderer: Status,
			renderer: function(defaultText, alignment, height) {
	        	return '<div style="margin-top:10px; margin-left: 5px;">Discount<br>Enable/Disable</div>';
	        },
		},{
			text: 'ViewCart',
			datafield: 'ViewCart',
			width: '7%',
			minwidth: '60',
			editable: false,
			filterable: false,
			cellsrenderer: actionlink
		}],
	});
	
	basicDemo.init();
});
</script>