<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<h4 class="page-title">Add Product Review</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 block p-20 m-t-20">
				<div class="card-box">
					<form class="p-20">
						<div class="form-group row">
							<label class="control-label col-sm-4 col-md-3 p-t-10">Name</label>
							<div class="col-sm-7 col-md-6">
								<input type="text" class="form-control" value="">
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-sm-4 col-md-3 p-t-10">Email</label>
							<div class="col-sm-7 col-md-6">
								<input type="text" class="form-control" value="">
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-sm-4 col-md-3 p-t-10">Rating</label>
							<div class="col-sm-7 col-md-6 p-t-10"> <i class="fa fa-star-o text-success"></i> <i class="fa fa-star-o text-success"></i> <i class="fa fa-star-o text-success"></i> <i class="fa fa-star-o text-success"></i> <i class="fa fa-star-o text-success"></i> </div>
						</div>
						<div class="form-group row">
							<label class="control-label col-sm-4 col-md-3 p-t-10">Comment</label>
							<div class="col-sm-7 col-md-6">
								<textarea class="form-control"></textarea>
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-sm-4 col-md-3 p-t-10">Date</label>
							<div class="col-sm-7 col-md-6">
								<div id="dateInput"></div>
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-sm-4 col-md-3 p-t-10"></label>
							<div class="col-sm-7 col-md-6"> <a class="btn btn-primary m-r-10">Add</a><a href="product-reviews.html" class="btn btn-warning">Cancel</a> </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
