<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-5">
				<h4 class="page-title">Customer Level Discount</h4>
				<!--<ol class="breadcrumb">
              <li><a href="dashboard.html">Home</a></li>
              <li>Products</li>
              <li class="active">Product List</li>
            </ol>--> 
			</div>
			<div class="col-xs-12 col-sm-7">
				<div class="pull-right col-sm-12" style="min-width:300px;">
					<div class="col-sm-8 text-right">
						<label>Store Name:</label>
					</div>
					<div class="col-sm-2">
						<select class="form-control m-t-5 pull-left" style="width:100%;">
							<option>Select</option>
							<option value="" selected>Store 1</option>
							<option value="">Store 2</option>
							<option value="">Store 3</option>
							<option value="">Store 4</option>
						</select>
					</div>
					<div class="col-sm-2 p-r-0">
						<select class="form-control m-t-5 pull-left" style="width:100%;" onchange="if (this.value) window.location.href=this.value;">
							<option>Select</option>
							<option value="products-list.html" selected>Web</option>
							<option value="ebay-products-list.html">Ebay</option>
							<option value="amazon-products-list.html">Amazon</option>
							<option value="jet-products-list.html">Jet</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 block p-20 m-t-10">
				<div class="card-box grid-structure">
					<div class="col-md-12 p-b-10 text-right"> <a class="btn btn-primary" data-ui-sref="AddCustomerLevelDiscount" data-ui-sref-active="active"><i class="fa fa-plus"></i> Add Customer Level</a> </div>
					<div id="jqxWidget">
						<div id="jqxgrid"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
	var url = "assets/xml/CustomerLevelDiscount.xml";
	$.jqx.theme = "custom";
	// prepare the data
	var source = {
		datatype: "xml",
		datafields: [ {
//			name: 'ProductSelect',
//			type: 'String'
//		}, {
			name: 'LevelName',
			type: 'String'
		}, {
			name: 'AnnualSalesLimit',
			type: 'string'
		}, {
			name: 'DiscountPercent',
			type: 'String'
		}, {
			name: 'DiscountDoller',
			type: 'String'
		}, {
			name: 'HasFreeShipping',
			type: 'String'
		}, {
			name: 'HasNoTax',
			type: 'String'
		}, {
			name: 'StoreName',
			type: 'String'
		},{
			name: 'DisplayOrder',
			type: 'string'
		}, {
			name: 'Action',
			type: 'string'
		}],
		root: "CustomerLevelDiscount",
		record: "CustomerLevel",
		id: 'CustomerLevelID',
		url: url
	};

	var actionlink = function(row, columnfield, value, defaulthtml, columnproperties, rowdata) {
		var actionLink = '';
	
		actionLink = '<div class="text-center action-icons"><a href="#"><i class="fa fa-pencil"></i></a><a href="#" id="deleterowbutton" class="on-default remove-row text-danger"><i class="fa fa-trash-o"></i></a></div>'
	
		return actionLink;
	}
	
	var dataAdapter = new $.jqx.dataAdapter(source, {
		downloadComplete: function(data, status, xhr) {},
		loadComplete: function(data) {},
		loadError: function(xhr, status, error) {}
	});
	// initialize jqxGrid


	$("#jqxgrid").jqxGrid(
		//$("#jqxgrid").jqxDataTable(
		{
			width: '100%',
			//height: '100%',
			source: dataAdapter,                
			pageable: true,
			autoheight: true,
			sortable: true,
			altrows: true,
			enabletooltips: true,
			editable: true,
			columnsheight: 50,
			rowsheight:50,
			showfilterrow: true,
            filterable: true,
			selectionmode: 'checkbox',
			columns: [
			/*{
				text: '',
				datafield: 'ProductSelect',
				width: '3%',
				minwidth: '30',
				columntype:'checkbox',
				filterable: false
			}, */{
				text: 'Level Name',
				datafield: 'LevelName',
				editable: false,
				width: '12%',
				minwidth: '96'
			},  {
				text: 'Annual Sales Limit',
				datafield: 'AnnualSalesLimit',
				editable: false,
				width: '12%',
				minwidth: '96'
			}, {
				text: 'Discount Percent',
				datafield: 'DiscountPercent',
				editable: false,
				width: '10%',
				minwidth: '80',
			}, {
				text: 'Discount Doller',
				datafield: 'DiscountDoller',
				editable: false,
				width: '12%',
				minwidth: '96',
			}, {
				text: 'Has Free Shipping', 
				datafield: 'HasFreeShipping',
				editable: false,
				width: '12%',
				minwidth: '96',
			}, {
				text: 'Has No Tax', 
				datafield: 'HasNoTax',
				editable: false,
				width: '10%',
				minwidth: '80',
			}, {
				text: 'Store Name', 
				datafield: 'StoreName',
				editable: false,
				width: '10%',
				minwidth: '80',
			}, {
				text: 'Display Order', 
				datafield: 'DisplayOrder',
				editable: false,
				width: '10%',
				minwidth: '80',
			}, {
				text: 'Action',
				datafield: 'Action',
				width: '10%',
				minwidth: '80',
				editable: false,
				filterable: false,
				cellsrenderer: actionlink
			}],
		});
	 basicDemo.init();
	 
	//$("#dropDownButton").jqxDropDownButton({ width: 150, height: 36});
});
</script>