<!-- Page Content -->

<div class="content">
	<div class="col-sm-12">
		<div class="block p-20 p-b-0">
			<div class="row">
				<form>
					<div class="col-sm-6">
						<div class="row form-group">
							<div class="col-sm-4 p-t-5">
								<label class="control-label">Store Name:</label>
							</div>
							<div class="col-sm-6">
								<select class="form-control">
									<option >Store 1</option>
									<option >Store 2</option>
									<option >Store 3</option>
								</select>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="block p-20 p-b-0">
			<div class="row">
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						MasterId</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						Name</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						SKU</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						Description</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						SEPageTitle</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						SEName</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						Active</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						Deleted</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						Weight</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						Manufacturer</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						Price</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						SalePrice</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						Cost</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						RelatedProduct</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						DisplayOrder</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						ProductImage</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						CategoryImage</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						Parents</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						ProductTag</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						ToolTip</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						BarcodeNumber</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						Inventory</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						TotalVisit</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						CreatedOn</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						AvailableStartDate</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						AvailableEndDate</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						LastUpdatedOn</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						LastUpdatedBy</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						IsNew</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						IsFeatured</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						TaxClass</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						QuantityDiscount</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						TransitionInventory</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						WarehouseInventory</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						OutOfStockSuggestion</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						OutOfStockSuggestSKU</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						KitProducts</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						LastViewBy</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						LastViewDate</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						LastViewIpaddress</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						IsRefundable</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						BufferInventory</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						InventoryIsGlobal</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						SEDescription</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						SEKeywords</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						GiftWrap</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						GiftwrapPrice</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						PersonalMessage</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						DisplayInMenu</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						JustArrived</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						NewArrival</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						JustArrivedLink</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						NewArrivalLink</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						TagLine</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						ShortDescription</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						Size</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						Fragrance</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						Season</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						Room</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						Event</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						UPC</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						Discontinued</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						NewItemOnSale</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						Sale</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						MarketPlace</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						ProductOptions</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						OtherDescription</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						SaleOfferPrice</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						ProductDataLog</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						PriceFromTo</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						UnitPerBox</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						AmazonPrice</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						AmazonName</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						POSInventory</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						NewUPC</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						NewSKU</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						RoomNo</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						AisleNo</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						Rack</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						Shelf</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						LowInventoryValue</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						Collection</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						PressSection</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						google_product_category</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						product_type</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						custom_label_0</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						custom_label_1</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						custom_label_2</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						custom_label_3</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						custom_label_4</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						ShippingPrice</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						MPN</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						GoogleFeedName</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						ExcludeFreeShipping</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						IsGiftset</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						HighInventoryValue</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						LastInOrder</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						ProductType</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						BrandWiseOrderBy</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						BrandCategoryWiseOrderBy</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						YesCount</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						NoCount</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						WeightType</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						Dimension</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						ChildProduct</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						ComingSoonProduct</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						IsPromotionPage</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						PromotionalBanner</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						AltTag</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						TitleTag</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						ROIKeywords</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						TargetedKeywords</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						ExcludeFreeGift</div>
				</div>
				<div class="form-group col-lg-3">
					<div class="col-lg-12">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						gender </div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="block p-20 p-b-0">
			<div class="row">
				<div class="form-group col-lg-3">
					<div class="col-lg-12  col-sm-5 col-xs-12 p-t-10 p-b-10">
						<input value="OrderNumber" onchange="validate_check();" type="checkbox">
						Select All/None </div>
				</div>
				<div class="col-lg-5 col-sm-7 col-xs-12 text-center">
					<input name="button" style="font-size:16px;" value="Export Data" id="btn" class="btn btn-primary btn-lg" onclick="OpenCartWindow();" type="button">
				</div>
			</div>
		</div>
	</div>
</div>
