<!-- Page Header -->

<div class="content">
	<div class="col-xs-12 col-sm-12 p-0">
		<h4 class="page-title">Export Customer</h4>
	</div>
	<div class="col-sm-12 block p-20 m-t-10">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-lg-3 p-0">Select Store: </label>
				<div class="col-lg-4">
					<select class="form-control">
						<option>All Stores</option>
						<option selected="selected">Store 1</option>
						<option>Store 2</option>
						<option>Store 3</option>
						<option>Store 4</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-3 col-xs-12"></div>
				<div class="col-lg-4 col-xs-12">
					<table class="table table-bordered sortableTable">
						<thead>
							<tr>
								<th class="text-center">Chekcbox</th>
								<th>Field</th>
							</tr>
							<tr> </tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center"><input name="name" id="1" value="name" type="checkbox"></td>
								<td>Customer Name</td>
							</tr>
							<tr>
								<td class="text-center"><input name="email" id="2" value="email" type="checkbox"></td>
								<td>Email address</td>
							</tr>
							<tr>
								<td class="text-center"><input name="phone" id="3" value="phone" type="checkbox"></td>
								<td>Phone number</td>
							</tr>
							<tr>
								<td class="text-center"><input name="billing" id="4" value="billing" type="checkbox"></td>
								<td>Billing address</td>
							</tr>
							<tr>
								<td class="text-center"><input name="shipping" id="5" value="shipping" type="checkbox"></td>
								<td>Shipping address</td>
							</tr>
							<tr>
								<td class="text-center"><a style="cursor:pointer;"title="Check All">Check All</a> / <a style="cursor:pointer;"title="Clear All"> Clear </a></td>
								<td class="text-left"><a href="javascript:void(0);"class="btn btn-warning btn-sm" title="Export"><i class="fa fa-download"></i> Export</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-lg-4"></div>
			</div>
		</form>
	</div>
</div>
<!-- END Page Header --> 