<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<h4 class="page-title">Amazon Pricer</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 block p-20 m-t-20">
				<div class="card-box">
					<div id="jqxWidget">
						<div id="jqxgrid"></div>
						<div style="width: 100%;" id="mainDemoContainer">
							<div id="window">
								<div id="windowHeader">
									<div class="h4 p-10 m-0">Vendor Details</div>
								</div>
								<div style="overflow: hidden;" id="windowContent">
									<form class="p-20">
										<div class="form-group row">
											<label class="control-label col-sm-4 col-md-3">Product Name</label>
											<div class="col-sm-7 col-md-6">Lorem Ipsum is simply</div>
										</div>
										<div class="form-group row">
											<label class="control-label col-sm-4 col-md-3">Product SKU</label>
											<div class="col-sm-7 col-md-6">ABC-01</div>
										</div>
										<div class="form-group row">
											<label class="control-label col-sm-4 col-md-3">ASIN</label>
											<div class="col-sm-7 col-md-6">A0012</div>
										</div>
										<div class="form-group row">
											<div class="table-responsive">
												<table class="table-bordered" width="100%">
													<tr>
														<th><div class="p-10">Vendor Name</div></th>
														<th align="right"><div class="p-10">Price</div></th>
														<th align="right"><div class="p-10">Shipping</div></th>
														<th align="right"><div class="p-10">Total</div></th>
													</tr>
													<tr>
														<td><div class="p-10">Vendor 1</div></td>
														<td align="right"><div class="p-10">$78.80</div></td>
														<td align="right"><div class="p-10">$00.00</div></td>
														<td align="right"><div class="p-10">$78.80</div></td>
													</tr>
													<tr>
														<td><div class="p-10">Vendor 2</div></td>
														<td align="right"><div class="p-10">$78.80</div></td>
														<td align="right"><div class="p-10">$00.00</div></td>
														<td align="right"><div class="p-10">$78.80</div></td>
													</tr>
													<tr>
														<td><div class="p-10">Vendor 3</div></td>
														<td align="right"><div class="p-10">$78.80</div></td>
														<td align="right"><div class="p-10">$00.00</div></td>
														<td align="right"><div class="p-10">$78.80</div></td>
													</tr>
												</table>
											</div>
										</div>
										<div class="form-group row"> </div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
var basicDemo = (function() {
	//Adding event listeners	
	function _addEventListeners() {
		$('#showWindowButton').click(function() {
			$('#window').jqxWindow('open');
		});
		$('#hideWindowButton').click(function() {
			$('#window').jqxWindow('close');
		});
	};
	
	//Creating the demo window
	function _createWindow() {
		var jqxWidget = $('#jqxWidget');
		var offset = jqxWidget.offset();
		$('#window').jqxWindow({
			position: 'center',
			//showCollapseButton: true,
			autoOpen:false,
			isModal: true,
			maxHeight: 600,
			maxWidth: 700,
			minHeight: 200,
			minWidth: 200,
			width: '100%',
			resizable: false,
			draggable: false,
			
			initContent: function() {
				$('#window').jqxWindow('focus');
			}
		});
	};
	return {
		config: {
			dragArea: null
		},
		init: function() {
			//Attaching event listeners
			_addEventListeners();
			//Adding jqxWindow
			_createWindow();
		}
	};
}());
$(document).ready(function() {
	var url = "assets/xml/url-redirect.xml";
	$.jqx.theme = "custom";
	// prepare the data
	var source = {
		datatype: "xml",
		datafields: [ {
			name: 'OldURL',
			type: 'String'
		}, {
			name: 'NewURL',
			type: 'string'
		}, {
			name: 'RedirectType',
			type: 'string'
		}, {
			name: 'TotalCount',
			type: 'String'
		}, {
			name: 'LastRedirectOn',
			type: 'String'
		}, {
			name: 'Status',
			type: 'String'
		}, {
			name: 'URLAction',
			type: 'string'
		}],
		root: "URLRedirectList",
		record: "URLRedirect",
		id: 'URLRedirectID',
		url: url
	};
	

	//Status
	var status = function (row, columnfield, value) {
		if (value == 'No') {
			return '<div class="text-center action-icons" style="font-size:18px"><i class="fa fa-thumbs-down text-danger"></i></div>';
		}
		else {
			return '<div class="text-center action-icons" style="font-size:18px"><i class="fa fa-thumbs-up text-success"></i></div>';
		}
	}
	
	
	//Action Link
	var actionlink = function(row, columnfield, value) {
		var actionLink = '';
	
		actionLink = '<div class="text-center action-icons"><a href="#" class="on-default edit-row text-default"><i class="fa fa-pencil"></i></a><a href="#" id="deleterowbutton" class="on-default remove-row text-danger"><i class="fa fa-trash-o"></i></a></div>'
	
		return actionLink;
	}

	var dataAdapter = new $.jqx.dataAdapter(source, {
		downloadComplete: function(data, status, xhr) {},
		loadComplete: function(data) {},
		loadError: function(xhr, status, error) {}
	});
	
	// initialize jqxGrid
	$("#jqxgrid").jqxGrid(
		//$("#jqxgrid").jqxDataTable(
		{
		width: '100%',
		//height: '100%',
		source: dataAdapter,                
		pageable: true,
		autoheight: true,
		sortable: true,
		altrows: true,
		enabletooltips: false,
		editable: false,
		columnsheight: 70,
		//rowsheight: 50,
		autorowheight: true,
		showfilterrow: true,
		filterable: true,
		selectionmode: 'singlerow',
		columns: [{
			text: 'Old URL',
			datafield: 'OldURL',
			width: '29%',
			minwidth: '60',
			filterable: false
		},{
			text: 'New URL',
			datafield: 'NewURL',
			//datafield: 'AmazonCondition',
			editable: false,
			width: '27%',
			minwidth: '80'
		},{
			text: 'Redirect Type',
			datafield: 'RedirectType',
			//datafield: 'AmazonASIN',
			editable: false,
			width: '12%',
			minwidth: '120'
		},{
			text: 'Total Count',
			datafield: 'TotalCount',
			//datafield: 'AmazonStatus',
			//datafield: 'WebInv',
			//datafield: 'WebStatus',
			editable: false,
			width: '6%',
			minwidth: '110'
		},{
			text: 'Last Redirect On',
			datafield: 'LastRedirectOn',
			width: '10.4%',
			minwidth: '110',
			editable: false
		},{
			text: 'Status',
			datafield: 'Status',
			width: '6%',			
			minwidth: '75',
			cellsformat: 'c2',
			cellsalign: 'right',
			cellsrenderer: status
		}, {
			text: 'URL Action',
			datafield: 'URLAction',
			width: '8.4%',
			minwidth: '60',
			editable: false,
			filterable: false,
			cellsrenderer: actionlink
		}],
	});
	
	basicDemo.init();
});
</script>